<div class="chart-container">
  <canvas></canvas>
</div>
{{#if this.legend}}
  <footer>
      {{#each this.data.datasets as |dataset|}}
        <p class="lemonade-chart-legend {{if dataset.hidden 'toggled'}}" {{action "toggleDataSet" dataset}}>
          <svg class="key" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle cx="1em" cy="1em" r="0.8em"
                    fill='{{dataset.backgroundColor}}'
                    stroke='{{dataset.borderColor}}'
                    stroke-width='0.2em'
                    stroke-dasharray='{{dataset.borderDash}}'
                    stroke-linecap='{{dataset.borderCapStyle}}'
                    stroke-dashadjust='compress gap' />
          </svg>
          {{dataset.label}}
        </p>
      {{/each}}
  </footer>
{{/if}}
