
<header class='node-drag-bar'><p>
  {{#if this.entity.name}}
    {{this.entity.name}}
  {{else}}
    Unamed
  {{/if}}

</p></header>
{{#if this.entity.inputs}}
  <p class='node-subheading'>inputs</p>

  <div class='node-input-container'>
    {{#each this.entity.inputs as | input | }}
      <div>
        <div class='terminal input-terminal' id='{{input.id}}'></div>
        <p class='node-input-output'>{{sim-run-lookup this.inputConnectorData input.id this.month}} <span class='node-label'>{{remove-keyword input.name "_input"}}</span></p>
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if this.entity.processes}}
  <p class='node-subheading'>options</p>
  {{#each this.entity.processes as | process | }}
    {{#each process.properties as | property | }}

      {{!-- {{log this.processPropertyData}} --}}

      {{
        process-property
        updateBaseline=this.updateBaseline
        id=property.id
        name=property.name
        entityId=this.entity.id
        processPropertyData=this.processPropertyData
        month=this.month
      }}

      <span class='node-label'>{{property.name}}</span>
      {{!-- {{sim-run-lookup this.processPropertyData property.id this.month}} --}}
      {{!-- {{input value=property.property_value}} --}}
    {{/each}}
  {{/each}}
{{/if}}



{{#if this.entity.outputs}}
<p class='node-subheading'>outputs</p>

  <div class='node-output-container'>
    {{#each this.entity.outputs as | output | }}
      <div>
        <p class='node-input-output node-output'><span class='node-label'>{{remove-keyword output.name "_output"}}</span> {{sim-run-lookup this.outputConnectorData output.id this.month}} <span class='fte'>{{output.unit}}</span></p>
        <div class='terminal output-terminal' id='{{output.id}}'></div>
      </div>
    {{/each}}
  </div>
{{/if}}


{{!-- <p>{{this.entity.tags}}</p> --}}
