
<header class='entity-drag-bar'><p>
  {{#if this.entity.name}}
    {{this.entity.name}}
  {{else}}
    Unamed
  {{/if}}

</p></header>
<p class='entity-subheading'>inputs</p>
<div class='entity-input-container'>
  <div>
    <div class='terminal input-terminal'></div>
    <p class='entity-input-output'>$200,000 <span class='entity-label'>budget</span></p>
  </div>
  <div>
    <div class='terminal input-terminal'></div>
    <p class='entity-input-output'>$200,000 <span class='entity-label'>budget</span></p>
  </div>

</div>

<p class='entity-subheading'>options</p>
<p class='entity-label'>staff numbers</p>
{{input value=5}}
<p class='entity-label'>average staff pay</p>
{{input value=50000}}

<p class='entity-subheading'>outputs</p>
<div class='entity-output-container'>
  <div>
    <p class='entity-input-output entity-output'><span class='entity-label'>staff Bandwidth</span> 491 <span class='fte'>FTE</span></p>
    <div class='terminal output-terminal'></div>
  </div>
</div>
{{!-- <p>{{this.entity.tags}}</p> --}}





