
<header class='entity-drag-bar'><p>
  {{#if this.entity.name}}
    {{this.entity.name}}
  {{else}}
    Unamed
  {{/if}}

</p></header>
<p class='entity-subheading'>inputs</p>
<p class='entity-input-output'>$200,000 <span class='entity-label'>budget</span></p>

<p class='entity-subheading'>options</p>
<p class='entity-label'>staff numbers</p>
{{input value=5}}
<p class='entity-label'>average staff pay</p>
{{input value=50000}}

<p class='entity-subheading'>outputs</p>
<p class='entity-input-output'><span class='entity-label'>staff Bandwidth</span> 491 <span>FTE</span></p>
{{!-- <p>{{this.entity.tags}}</p> --}}





