
<header class='entity-drag-bar'><p>
  {{#if this.entity.name}}
    {{this.entity.name}}
  {{else}}
    Unamed
  {{/if}}

</p></header>
{{#if this.entity.inputs}}
  <p class='entity-subheading'>inputs</p>

  <div class='entity-input-container'>
    {{#each this.entity.inputs as | input | }}
      <div>
        <div class='terminal input-terminal' id='{{input.id}}'></div>
        <p class='entity-input-output'>{{input.amount}} <span class='entity-label'>{{input.type}}</span></p>
      </div>
    {{/each}}
  </div>
{{/if}}

<p class='entity-subheading'>options</p>
<select>
  <option value='asdf'>asdf</option>
  <option value='qwer'>qwer</option>
</select>

<input type='checkbox'>


<p class='entity-label'>staff numbers</p>
{{!-- {{input value=5}} --}}
{{range-slider name='staff numbers' max=1000 min=0}}
<p class='entity-label'>average staff pay</p>
{{input value=50000}}

<p class='entity-subheading'>outputs</p>

{{#if this.entity.outputs}}
<div class='entity-output-container'>
  {{#each this.entity.outputs as | output | }}
    <div>
      <p class='entity-input-output entity-output'><span class='entity-label'>{{output.name}}</span> {{output.amount}} <span class='fte'>{{output.unit}}</span></p>
      <div class='terminal output-terminal' id='{{output.id}}'></div>
    </div>
  {{/each}}
</div>
{{/if}}


{{!-- <p>{{this.entity.tags}}</p> --}}





