{{new-project-wizard simulation=this.simulation}}
{{!-- {{range-slider value=this.testValue min=1 max=10}}
{{toggle-switch enabled=this.bool}} --}}
{{!-- {{#each this.graphs as |graph|}}
  <h1 style="color:white;">{{graph.name}}</h1>
  {{lemonade-chart type='line' data=graph.data options=graph.options legend=true}}
{{/each}} --}}
{{!-- {{lemonade-chart type='line' data=this.graphs.0.data options=this.graphs.0.options legend=true}} --}}
{{!-- <div class='timeline-track-container'>
  {{timeline-track
    timelineGridObjects=this.timelineGridObjects
    timelineObjects=this.timelineObjects
    onInteractionEnd=(action 'onInteractionEnd')
  }}
  {{timeline-track
    timelineGridObjects=this.timelineGridObjects
    timelineObjects=this.timelineObjects
    onInteractionEnd=(action 'onInteractionEnd')
  }}
  {{timeline-track
    timelineGridObjects=this.timelineGridObjects
    timelineObjects=this.timelineObjects
    onInteractionEnd=(action 'onInteractionEnd')
  }}
  {{timeline-track
    timelineGridObjects=this.timelineGridObjects
    timelineObjects=this.timelineObjects
    onInteractionEnd=(action 'onInteractionEnd')
  }}
</div>

{{timeline-timescale
  timelineGridObjects=this.timelineGridObjects
  timespan=this.timespan
}} --}}
