<p class='step-indicator'>step 1 of 3</p>

<div class="info-form-container">
  <div>
    {{#if this.errors.name}}
      <p>{{this.errors.name}}</p>
    {{/if}}
    <label>Project Name</label>
    {{input value=this.newProjectData.name}}
  </div>
  <div>
    <label>Project Description</label>
    {{textarea value=this.newProjectData.description}}
  </div>
  <div class="side-by-side">
    <div>
      <label>Ring fenced</label>
      {{toggle-switch enabled=this.newProjectData.is_ringfenced}}
    </div>
    <div>
      {{#if this.errors.priority}}
        <p>{{this.errors.priority}}</p>
      {{/if}}
      <label>Priority</label>
      {{input}}
    </div>
  </div>
  <div class="side-by-side">
    <div>
      <label>Achievability</label>
      {{range-slider value=this.newProjectData.achievability min=1 max=10}}
    </div>
    <div>
      <label>Attractiveness</label>
      {{range-slider value=this.newProjectData.attractiveness min=1 max=10}}
    </div>
  </div>

</div>
{{#if this.canContinue}}
  <footer class="one-item"><button {{action "next"}}>next</button></footer>
{{/if}}
