<p class='step-indicator'>step 1 of 3</p>

<div class="info-form-container">
  <div class="side-by-side">
    <div>
      {{#if this.errors.name}}
        <p>{{this.errors.name}}</p>
      {{/if}}
      <label>Project Name</label>
      {{input value=this.newProjectData.name}}
    </div>
    <div>
      <label>Type</label>
      {{#x-select placeholder="select a type" value=this.newProjectData.type}}
        {{!-- have set a default in select type value. Take this out when validation has been adde  --}}
        {{#x-option value="run"}} Select type{{/x-option}}
        {{#x-option value='run'}}Run{{/x-option}}
        {{#x-option value='grow'}}Grow{{/x-option}}
        {{#x-option value='transform'}}Transform{{/x-option}}
        {{#x-option value='other'}}Other{{/x-option}}
      {{/x-select}}
    </div>
  </div>
  <div>
    <label>Project Description</label>
    {{textarea value=this.newProjectData.description}}
  </div>
  <div class="side-by-side">
    <div>
      <label>Ring fenced</label>
      {{toggle-switch enabled=this.newProjectData.is_ringfenced}}
    </div>
    <div>
      {{#if this.errors.priority}}
        <p>{{this.errors.priority}}</p>
      {{/if}}
      <label>Priority</label>
      {{input value=this.newProjectData.priority}}
    </div>
  </div>
  <div class="side-by-side">
    <div>
      <label>Achievability</label>
      {{range-slider value=this.newProjectData.achievability min=1 max=10}}
    </div>
    <div>
      <label>Attractiveness</label>
      {{range-slider value=this.newProjectData.attractiveness min=1 max=10}}
    </div>
  </div>
  <div class="side-by-side">
    <div>
      <label>Strategic Alignment</label>
      {{range-slider value=this.newProjectData.alignment min=1 max=10}}
    </div>
  </div>

</div>
<footer class="one-item"><button {{action "next"}} disabled={{validation.disableButton}}>next</button></footer>
