<p {{action "resetDefaults"}} id='reset-defaults-button'>Reset Defaults</p>

<div id='svg-container' style={{this.style}}>
</div>

<div class='nodes-container' style={{this.style}}>



  {{#each this.selectedEntities as | entity index | }}
    {{
      entity-node
      entity=entity

      month=this.month

      inputConnectorData=this.inputConnectorData
      outputConnectorData=this.outputConnectorData
      processPropertyData=this.processPropertyData

      errors=this.errors.entities

      nodes=entityComponents
      updateCables=this.updateCablesBound
      updateBaseline=this.updateBaselineBound
      groupOffsetX=this.transformX
      groupOffsetY=this.transformY
    }}
  {{/each}}

  {{#each this.selectedOutputs as | simulationOutput index | }}
    {{
      simulation-output
      simulationOutput=simulationOutput
      outputData=this.outputData

      month=this.month

      errors=this.errors.outputs

      outputNodes=outputComponents
      updateCables=this.updateCablesBound
      groupOffsetX=this.transformX
      groupOffsetY=this.transformY
    }}
  {{/each}}
</div>
