<p class='step-indicator'>step 2 of 3</p>
{{
  timeline-timescale
  timelineGridObjects=this.timelineGridObjects
  timespan=this.timespan
}}
{{
  timeline-track
  timelineGridObjects=this.timelineGridObjects

  timelineObjects=this.phases

  onInteractionEnd=(action 'updatePhase')
}}
<div class="new-phase-trigger" {{action 'toggleNewPhase'}}>
  <img src="images/icons/new-phase-icon.svg" alt="" />
  <p>Add New Phase</p>
</div>
{{#if this.showNewPhase}}
  <div class="modal-extra-slider">
    <h1 class="modal-extra-slider-header">New Phase</h1>
    <div class="modal-extra-slider-content new-phase-options">
      <div class="phase-basic-info">
        <div>
          <label>Phase Name</label>
          {{input value=this.phaseName}}
        </div>
        <div class="side-by-side">
          <div>
            <label>Capital Input</label>
            {{input value=this.capital}}
          </div>
          <div>
            <label>Opex Contribution</label>
            {{input value=this.operational}}
          </div>
        </div>
        <div>
          <label>Phase Description</label>
          {{textarea value=this.description}}
        </div>
      </div>
      <div class="phase-senario-options">
        <p class="ruled-sub-header">
          Resources
        </p>
        <p {{action 'addResources'}}>Add Resources</p>
        <p class="ruled-sub-header">
          Impacts
        </p>
        <p {{action 'addImpacts'}}>Add Impacts</p>
        <p class="ruled-sub-header">
          Outcomes
        </p>
      </div>
    </div>
    <footer>
      <button {{action "toggleNewPhase"}}>cancel</button>
      <button {{action "addNewPhase"}}>Add Phase</button>
    </footer>
  </div>
  {{#if this.showNewModelModification}}
  <div class="modal-extra-slider half-size">
    <h1 class="modal-extra-slider-header">Add Resources - Choose Service</h1>
    <footer>
      <button {{action "cancelResources"}}>cancel</button>
      <button {{action "addResources"}}>Add Resources</button>
    </footer>
  </div>
  {{/if}}
{{/if}}
<footer>
  <button {{action "back"}}>Previous</button>
  <button {{action "next"}}>Next</button>
</footer>
