{{#if this.showContextMenu}}
  {{timeline-object-context-menu options=contextMenuOptions handleContextMenuAction=(action "handleContextMenuAction")}}
{{/if}}



{{#if suggestion}}
  <p class="object-name">move {{name}} here</p>
{{else}}
  <p class="object-name">{{name}}</p>
{{/if}}

{{!-- {{#if this.capex}}
  <p class='object-info'>Capex ${{this.capex}}</p>
{{/if}}
{{#if this.opex}}
  <p class='object-info'>Opex ${{this.opex}}</p>
{{/if}} --}}
