<div class="modal-extra-slider">
  <h1 class="modal-extra-slider-header">{{#if this.editPhase}}Edit{{else}}New{{/if}} Phase</h1>
  <div class="modal-extra-slider-content new-phase-options">
    <div class="phase-basic-info">
      <div>
        <label>Phase Name</label>
        {{input value=this.phaseName}}
      </div>
      <div class="side-by-side">
        <div>
          <label>Capital Input</label>
          {{formatted-number-input value=this.capital}}
        </div>
        <div>
          <label>Opex Contribution</label>
          {{formatted-number-input value=this.operational}}
        </div>
      </div>
      <div>
        <label>Capitalization Percentage</label>
        {{#if this.errors.capitalization}}
          <p>{{this.errors.capitalization}}</p>
        {{/if}}
        {{input value=this.capitalization}}
      </div>
      {{!--
        Hiding Phase Description for now as it doesn't fit, it will return in
        a re-design
      <div>
        <label>Phase Description</label>
        {{textarea value=this.description}}
      </div>
      --}}
    </div>
    <div class="phase-senario-options">
      <p class="ruled-sub-header">
        Resources
      </p>
      <p class="new-impact-resource" {{action 'toggleResourcesLayer'}}>
        <img src="images/icons/new-impact-resource-icon.svg" alt="" />
        Add Resources
      </p>
      {{#each this.resourcesHoldingPenResources as | resource |}}
        {{#each resource.processProperties as | processProperty i |}}

          {{#if processProperty.change}}
            <div class='impact-resource-container'>
              <p class='impact-resource'>{{processProperty.sign}}{{processProperty.change}} {{processProperty.name}} at {{resource.selectedEntity.name}} from {{resource.selectedServiceModel.name}}.</p>
              <img class="impact-resource-remove" src="images/icons/close-icon.svg" alt="close form" {{action 'removeImpactResource' resource.processProperties i}}/>
            </div>
          {{/if}}

        {{/each}}
      {{/each}}
      <p class="ruled-sub-header">
        Impacts
      </p>
      <p class="new-impact-resource" {{action 'toggleImpactsLayer'}}>
        <img src="images/icons/new-impact-resource-icon.svg" alt="" />
        Add Impacts
      </p>
      {{#each this.resourcesHoldingPenImpacts as | impact |}}
        {{#each impact.processProperties as | processProperty i |}}

          {{#if processProperty.change}}
            <div class='impact-resource-container'>
              <p class='impact-resource'>{{processProperty.change}} {{processProperty.name}} at {{impact.selectedEntity.name}} from {{impact.selectedServiceModel.name}}.</p>
              <img class="impact-resource-remove" src="images/icons/close-icon.svg" alt="close form" {{action 'removeImpactResource' impact.processProperties i}}/>
            </div>
          {{/if}}

        {{/each}}
      {{/each}}
      {{!-- <p class="ruled-sub-header">
        Outcomes
      </p> --}}
    </div>
  </div>
  <footer>
    <button {{action "removeThisLayer"}}>cancel</button>
    <button {{action "addNewPhase"}}>{{#if this.editPhase}}Update{{else}}Add{{/if}} Phase</button>
  </footer>
</div>
{{#if this.showResourcesLayer}}
  {{
    component
    currentStepResources

    layerType='Resources'
    resourceLayerShowing=this.showResourcesLayer

    simulation=this.simulation

    selectedServiceModel=this.selectedServiceModelResources
    selectedAttribute=this.selectedAttributeResources
    selectedEntity=this.selectedEntityResources

    packageData="packageChildData"
    nextChild="nextChild"
    previousChild="previousChild"
    childSequenceComplete="childSequenceComplete"
    toggleChildLayer="toggleChildLayer"
  }}
{{/if}}

{{#if this.showImpactsLayer}}
  {{
    component
    currentStepImpacts

    layerType='Impacts'
    resourceLayerShowing=this.showResourcesLayer

    simulation=this.simulation

    selectedServiceModel=this.selectedServiceModelImpacts
    selectedAttribute=this.selectedAttributeImpacts
    selectedEntity=this.selectedEntityImpacts

    packageData="packageChildData"
    nextChild="nextChild"
    previousChild="previousChild"
    childSequenceComplete="childSequenceComplete"
    toggleChildLayer="toggleChildLayer"
  }}
{{/if}}
