<h1 class="service-budget-slasher-title">{{service.service.name}} </h1>
<h5 class="service-budget-slasher-budget-title">Total Service Budget</h5>
<div class="service-budget-slasher">
  <div>
    <label>Percentage to cut</label>
    {{range-slider min=0.0 max=20.0 step=0.1 value=servicePercentageToSlash}}
  </div>

  <div>
    <label>Revised Total Budget:</label>
    <h2>${{comma-seperate-number number=this.revisedBudget}}</h2>
  </div>

  <div>
    <label>Original Total Budget:</label>
    <h2>${{comma-seperate-number number=this.totalServiceBudget}}</h2>
  </div>
</div>
{{show-more-less expanded=this.showBudgets extraString="Sub Budgets"}}
<div class='service-budget-slasher-sub-budgets {{if this.showBudgets "expanded" "collapsed"}}'>
  {{#each service.budgets as |budget|}}
    {{budget-slasher scenarios=this.scenarios simulationData=this.simulationData updateSubBudgets=this.updateSubBudgets budget=budget servicePercentageToSlash=servicePercentageToSlash updateServiceBudgetAndPercentage=(action 'updateServiceBudgetAndPercentage')}}
  {{/each}}
</div>
