
<header class='node-drag-bar'><p>
  {{#if this.simulationOutput.name}}
    {{this.simulationOutput.name}}
  {{else}}
    Unamed
  {{/if}}

</p></header>


{{!-- {{lookup this.outputData 1}} --}}

<p class='node-subheading'>input</p>
<div class='node-input-container'>
    <div>
      <div class='terminal input-terminal sim-output-terminal' id='{{this.simulationOutput.id}}'></div>
      <p class='node-input-output'>{{sim-run-lookup this.outputData this.simulationOutput.id 0}} <span class='node-label'>{{this.simulationOutput.unit_type}}</span></p>
    </div>
</div>

{{!-- {{#if this.simulationOutput.processes}} --}}
  {{!-- <p class='entity-subheading'>options</p> --}}
  {{!-- {{#each this.simulationOutput.processes as | process | }} --}}
    {{!-- {{#each process.properties as | property | }} --}}

      {{!-- <span class='entity-label'>{{property.name}}</span> --}}
      {{!-- {{input value=property.property_value}} --}}
    {{!-- {{/each}} --}}
  {{!-- {{/each}} --}}
{{!-- {{/if}} --}}

