
<header class='node-drag-bar'><p>
  {{#if this.entity.name}}
    {{this.entity.name}}
  {{else}}
    Unamed
  {{/if}}
</p></header>

{{#if this.errorsForSimOut}}
  <p class='errors-subheading node-subheading'>Error</p>
  <div class='errors-container'>
    {{#each-in this.errorsForSimOut as |id content|}}
      <p class='error-message'>{{content.message}}</p>
    {{/each-in}}
  </div>
{{/if}}

<p class='node-subheading'>input</p>
<div class='node-input-container'>
    <div>
      <div class='terminal input-terminal sim-output-terminal' id='{{this.entity.id}}'></div>
      <p class='node-input-output'>{{sim-run-lookup this.outputData this.entity.id this.month}} <span class='node-label'>{{this.entity.unit_type}}</span></p>
    </div>
</div>
